---
import { data } from '#lib/data.ts'
const {serviceData} = Astro.props
const {img, service, description} = serviceData;
---

<div class="overflow-hidden w-full h-full rounded-2xl relative group animate-zoom">
    <div class="w-full h-full bg-gradient-to-b from-transparent to-kva-950/80 absolute translate-y-1/4 group-hover:translate-y-0 transition-all duration-700 z-10"></div>
    <img src={`${img}`} loading="lazy" alt={`${service} offer by ${data.title}: ${description}`} class="w-full h-full object-cover group-hover:scale-125 transition-all duration-700 group-hover:rotate-6">
    <h3 class="absolute bottom-28 left-5 text-gray-50 group-hover:text-white text-2xl z-20 font-semibold text-shadow">{service}</h3>
    <p class="absolute bottom-10 left-5 text-gray-100 group-hover:text-white text-base z-20 line-clamp-2 text-pretty max-w-[80%]">{description}</p>
</div>

<style>
    .text-shadow {
        text-shadow: 2px 2px #00000043;
    }
</style>