---
import {data} from '#lib/data.ts'
import Button from '#components/Button.astro'
---

<nav class="flex py-5 justify-center md:justify-between items-center">
    <div class="flex gap-x-14 items-center md:justify-center justify-start">
        <img src="logo.webp" alt={`${data.title}`} class="w-64 aspect-auto">
        <ul class="hidden md:flex gap-x-6 uppercase text-base [&>li]:text-kva-900 [&>.active]:border-b-[2.5px] [&>li]:font-medium [&>.active]:border-kva-500 [&>.active]:text-kva-500">
            <li class="hover:text-kva-500">
                <a href="/">Home</a>
            </li>
            <li class="hover:text-kva-500">
                <a href="#services">Services</a>
            </li>
            <li class="hover:text-kva-500">
                <a href="#about">About</a>
            </li>
            <li class="hover:text-kva-500">
                <a href=`mailto:${data.email}?subject=Free Quote KVA&body=Hello,%20I%20need%20to%20make%20a%20quote%20for%20my%20home,%20I%20need%20to%20make:`>Contact</a>
            </li>
        </ul>
    </div>
    <div class="md:flex hidden">
        <Button text="Free Quotes" link=`mailto:${data.email}?subject=Free Quote KVA&body=Hello,%20I%20need%20to%20make%20a%20quote%20for%20my%20home,%20I%20need%20to%20make:` linkPhone=`sms:${data.phone}?body=Hello,%20I%20need%20to%20make%20a%20quote%20for%20my%20home,%20I%20need%20to%20make:` />
    </div>
</nav>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const menuItems = document.querySelectorAll("ul a");
        
        const setActiveMenuItem = () => {
            const currentHash = window.location.hash;
            if (currentHash === '' || currentHash === '#') {
                document.querySelector("ul a[href='/']")?.parentElement?.classList.add("active");
            } else {
                menuItems.forEach(item => {
                    if (item.getAttribute("href") === currentHash) {
                        item.parentElement?.classList.add("active");
                    } else {
                        item.parentElement?.classList.remove("active");
                    }
                });
            }
        };
        setActiveMenuItem();
        window.addEventListener('hashchange', setActiveMenuItem);
    });
</script>